@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

/**
* STARTING
*/
* {
  box-sizing: border-box;
}
html,
header,
body,
footer {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  font-family: Oswald;
  color: rgb(125, 125,125);
}
p {
  font-family: Oswald;
}
footer {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
p {
  font-family: Oswald;
}
footer p {
  font-family: "Droid Sans";
}
h3 {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: rgb(130, 130, 130);
}
.container-site {
  max-width: 920px;
  margin:0 auto;
}
.header-logo h1 {
  text-indent: -9999px;
  font-size: 10px;
}
.header-logo img {
  margin-top: 7%;
}
.bg-grid {
  background: url("misc/grille.png");
}
.menu h2 {
  font-size: 1em; text-transform: uppercase;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.menu ul li {
  list-style: none;
  padding: 5px;
}
.menu ul li a {
  display: block;
}
.menu ul li a:hover {
  color: rgba(200, 200, 200, 0.8);
}
[class*="menu-separator-"] {
  width: 100%;
  height: 6px;
  margin: 5px 0px;
  display: block;
}
.menu-separator-orange {
  background-color: rgb(247, 105, 0);
}
.menu-separator-yellow {
  background-color: rgb(252, 208, 74);
}
.menu-separator-green {
  background-color: rgb(185, 212, 130);
}
.menu-separator-blue {
  background-color: rgb(61, 146, 194);
}
.menu-separator-purple {
  background-color: rgb(192, 120, 208);
}
.video iframe {
  border: none;
}
.separator{
  border-bottom: 1px solid lightgrey; margin: 5px 0;
}
*[class*="mini-footer-"], *[class*="mini-container-"] {
  font-size: 12px;
  color: rgb(170, 170, 170);
}
*[class*="-date"] {
  display: block;
  font-family: "Droid Serif";
  font-style: italic;
  margin: 10px 0;
}
.mini-link {
  font-size: 14px;
  color: rgb(140, 140, 140);
}
.mini-footer-link:not(:first-child)::before {
  content: " | ";
}
/**
*	##########	CUSTOM  CLASS	##########
*/
.full-width {
  width: 100%;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.block {
  display: block;
}
.margin-center {
  margin: 0 auto;
}
/* ----- LIGHT ----- */
.light-xs-padding {
  padding: 3px;
}
.light-xm-padding {
  padding: 5px;
}
.light-xl-padding {
  padding: 8px;
}
.light-padding {
  padding: 10px;
}
.light-padding-vertical {
  padding: 10px 0;
}
.light-padding-horizontal {
  padding: 0 10px;
}
.light-xs-padding-top {
  padding-top: 3px;
}
.light-xm-padding-top {
  padding-top: 5px;
}
.light-xl-padding-top {
  padding-top: 8px;
}
.light-padding-top {
  padding-top: 10px;
}
.light-padding-bot {
  padding-bottom: 10px;
}
.light-xs-margin {
  margin: 3px;
}
.light-xm-margin {
  margin: 5px;
}
.light-xl-margin {
  margin: 8px;
}
.light-margin {
  margin: 10px;
}
.light-margin-vertical {
  margin: 10px 0;
}
.light-margin-horizontal {
  margin: 0 10px;
}
.light-xs-margin-bot {
  margin-bottom: 3px;
}
.light-xm-margin-bot {
  margin-bottom: 5px;
}
.light-xl-margin-bot {
  margin-bottom: 8px;
}
.light-margin-bot {
  margin-bottom: 10px;
}
.light-margin-right {
  margin-bottom: 10px;
}
/* ----- MEDIUM ----- */
.medium-padding {
  padding: 20px;
}
.medium-padding-vertical {
  padding: 20px 0;
}
.medium-padding-horizontal {
  padding: 0 20px;
}
.medium-padding-bot {
  padding-bottom: 20px;
}
.medium-margin {
  margin: 20px;
}
.medium-margin-vertical {
  margin: 20px 0;
}
.medium-margin-horizontal {
  margin: 0 20px;
}
.medium-margin-bot {
  margin-bottom: 20px;
}
.medium-margin-right {
  margin-right: 20px;
}
/* ----- LARGE ----- */
.large-padding {
  padding: 30px;
}
.large-padding-vertical {
  padding: 30px 0;
}
.large-padding-horizontal {
  padding: 0 30px;
}
.large-padding-bot {
  padding-bottom: 30px;
}
.large-margin {
  margin: 30px;
}
.large-margin-vertical {
  margin: 30px 0;
}
.large-margin-bot {
  margin-bottom: 30px;
}
/* #####  BORDER OPTIONS  ##### */
[class*="light-border-"] {
  border: 1px solid;
}
.light-border-grey {
  border-color: lightgrey;
}
[class*="medium-border-"] {
  border: 2px solid;
}
[class*="large-border-"] {
  border: 3px solid;
}
/* #####  TEXT OPTIONS  ##### */
/* SIZE */
.txt-xs-sm {
  font-size: 6px;
}
.txt-xs-med {
  font-size: 8px;
}
.txt-xs-large {
  font-size: 10px;
}
.txt-xm-sm {
  font-size: 12px;
}
.txt-xm-med {
  font-size: 14px;
}
.txt-xm-large {
  font-size: 16px;
}
.txt-xl-sm {
  font-size: 18px;
}
.txt-xl-med {
  font-size: 20px;
}
.txt-xl-large {
  font-size: 22px;
}
/* POSITION */
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
/* DECORATION */
.txt-bold {
  font-weight: bold;
}
.txt-normal {
  font-style: normal;
}
.txt-italic {
  font-style: italic;
}
.txt-oblique {
  font-style: oblique;
}
.txt-underline {
  text-decoration: underline;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-lowercase {
  text-transform: lowercase;
}
/* COLOR */
.txt-white {
  color: rgb(255, 255, 255);
}
.txt-black {
  color: rgb(0, 0, 0);
}
.txt-red {
  color: rgb(255, 0, 0);
}
.txt-green {
  color: rgb(0, 255, 0);
}
.txt-blue {
  color: rgb(0, 0, 255);
}
.txt-orange {
  color: rgb(247, 105, 0);
}
/* POLICE */
.txt-DroidSans {
  font-family: "Droid Sans";
}
.txt-DroidSerif {
  font-family: "Droid Serif";
}
.txt-Oswald {
  font-family: Oswald;
}

/**
* ##########  INFOBULLE  ##########
*/
.infobulle span {
  position: absolute;
  margin-top: 23px;
  margin-left: -35px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;

  -moz-transform: scale(0) rotate(-12deg);
  -moz-transition:all .25s;

  -webkit-transform: scale(0) rotate(-12deg);
  -webkit-transition:all .25s;

  -o-transform: scale(0) rotate(-12deg);
  -o-transition:all .25s;

  transform: scale(0) rotate(-12deg);
  transition:all .25s;
}
.infobulle:hover span,
.infobulle:focus span {
  transform: scale(1) rotate(0);
}

/**
*	##########	COLUMNS SYSTEM	##########
*/
.row {
  margin: 10px;
  padding: 5px;
  display: block;
  width: 100%;
}
.row-nopad {
  display: block;
  width: 100%;
}
.row::after, .row-nopad::after {
  clear: both;
  display: block;
  content: "";
}
.cell {
  display: block;
}
[class*="col-"] {
  float: left;
}
[class*="col-offset-"] {
  float: right;
}
.col-1,
.col-offset-1 {
  width: 8.33%;
}
.col-2,
.col-offset-2 {
  width: 16.66%; 
}
.col-3, 
.col-offset-3 {
  width: 25%;
}
.col-4,
.col-offset-4 {
  width: 33.33%;
}
.col-5,
.col-offset-5 {
  width: 41.66%;
}
.col-6,
.col-offset-6 {
  width: 50%;
}
.col-7, .col-offset-7 {
  width: 58.33%;
}
.col-8,
.col-offset-8 {
  width: 66.66%;
}
.col-9,
.col-offset-9 {
  width: 75%; }
.col-10,
.col-offset-10 {
  width: 83.33%;
}
.col-11,
.col-offset-11 {
  width: 91.66%;
}
.col-12,
.col-offset-12 {
  width: 100%;
}
.col-xs-1 {
  width: 20%;
}
.col-xs-2 {
  width: 40%;
}
.col-xs-3 {
  width: 60%;
}
.col-xs-4 {
  width: 80%;
}
.col-xs-5 {
  width: 100%;
}